.header {
  max-width: 1200px;
  padding: 40px 20px; /*para trabalhar desgrudando os itens das margens, pq se trabalhar com gap o background não vai pegar todo*/
  margin: 0 auto; /*para quando aumentar a aba ele ficar alinhado automaticamente*/
  display: flex;
  justify-content: space-between; /*colocar um em um canto e outro no outro canto img*/
  align-items: center;
}

.header-menu {
  display: flex; /*lado a lado*/
  flex-wrap: wrap; /*para quebrar qd diminuir o tamanho*/
  gap: 10px;
  justify-content: center;
}
.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3rem;
  padding: 10px 20px; /*aumentar a area do clique foi colocado um gap pequeno pois ia aumentar a area de clique*/
  text-decoration: none;
  color: #141414;
  display: block;
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
